

<ion-content class="ion-content">
  
  <ion-card id="box">
    <ion-card-header>
      <ion-card-title class="ms-3 fw-bold fs-2">Inicia Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <form [formGroup]="formularioLogin">
      <ion-item >
          <ion-label position="floating" >Usuario:</ion-label>
          <ion-input id="inp-custom" formControlName="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input class="fw-light" id="inp-custom" formControlName="password" type="password"></ion-input>
      </ion-item>
      <br>
      <p class="ms-3 mt-2">¿Eres Nuevo? Registrate <a [routerLink]="['/register']" id="link" >   "AQUÍ" </a> </p>
      <a class="ms-3 mt-2" [routerLink]="['/recuperar']">Recupera tu contraseña </a>
        
     
      </form>
      <br>
      <div class="ion-text-end">
        <ion-button (click)="ingresar()" id="btn-ing">
          Ingresar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


