
#title{
    text-align: center;
    font-weight: bolder;
    font-size: px;
    margin-top: 8px;
    margin-bottom: 22px;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
}
#box{
    margin-top: 20px;
}
#item{
    margin-bottom: 8px;
}

ion-content {
    --background: url('../../assets/img/fondo.png') no-repeat center center fixed;
    background-size: cover;
  }
  
